[Unit]
Description=GPIO Watchdog Pinger
After=multi-user.target

[Service]
ExecStart=/usr/bin/watchdogtimer.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target

